{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{% block title %}taska{% endblock %}</title>
  {% load static %}
  {% block extra_head %}{% endblock %}
  <link rel="icon" href='{% static "img/icon_3f71ce.png" %}'>
  <link rel='stylesheet' href='{% static "css/base.css" %}'>
  {% block extra_css %}{% endblock %}
  {% block extra_js %}{% endblock %}
</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>