{% extends 'taska_app/base.html' %}
{% load static %}

{% block title %}taska | App{% endblock %}

{% block extra_css %}
  <link rel='stylesheet' href='{% static "css/taska.css" %}'>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar z-index-1000">
      <a href="" class="logo">taska</a>
      <p>{{ user.username }}</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-logout">Logout</button>
        <!-- <button class="sidebar-toggle" aria-label="Toggle sidebar">
          <span class="hamburger"></span>
        </button> -->
      </form>
    </nav>

    <div class="main">
      <div class="sidebar">
        <ul>
          <div class="flex-between sb-freq-btn-div">
            <button class="sb-freq-btn sb-btn ">D</button>
            <button class="sb-freq-btn sb-btn ">W</button>
            <button class="sb-freq-btn sb-btn ">M</button>
            <button class="sb-freq-btn sb-btn ">Y</button>
          </div>
        </ul>
        <ul>
          <h2>Projects:</h2>
          <button class="sb-btn">Tasks Due Today</button>
          <ul class="projects">
            {% for project in projects %}
              <button class="sb-btn flex-between">
                <span>{{ project.title }}</span>
                <span class="pl-duedate">{{ project.due_date|date:"d/m/y" }}</span>
              </button>
            {% empty %}
              <h3 class="no-projects">No projects yet</h3>
            {% endfor %}
          </ul>
        </ul>
      </div>
      <div class="content"></div>
    </div>

    <footer class="foot">
      <div></div>
      <p><span class="logo-font">taska |</span><span>&nbsp;&copy;2025</span></p>
      <div></div>
    </footer>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src='{% static "js/taska.js" %}'></script>
{% endblock %}