.navbar {
  width: 100vw;
  height: 55px;
  background-color: var(--col-surface);
  display: grid;
  /* grid-template-columns: 350px 2fr 200px; */
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  border-bottom: 2px solid var(--col-neutral);
}
.logo {
  font-family: merienda;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  /* text-shadow: 2px 2px 2px #3d3d3d70; */
  background-color: none;
  color: var(--col-prim);
  text-shadow: -2px -2px 2px #000000b0;
}
.logo:hover, 
.nav-link:hover, 
.nav-logout:hover, 
.nav-link:focus, 
.nav-logout:focus {
  color: var(--col-sec);
  font-weight: 600;
  border-left: 2px solid var(--col-neutral);
  border-right: 2px solid var(--col-neutral);
  text-shadow: 3px 3px 3px #3d3d3da6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  text-decoration: underline;
}
.nav-logout {
  width: 100%;
  height: 55px;
  background-color: inherit;
  color: inherit;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--poppins-stack);
  color: var(--textcol);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-shadow: -1px -1px 2px #e9033d5d;
}


/* _________________________________________________________________________
-好运-0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0-好运-
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */
.main {
  display: flex;
}
.sidebar {
  width: 350px;
  height: calc(100vh - 105px);
  background-color: var(--col-surface);
  transition: transform 0.3s ease;
  z-index: 100;
  border-right: 1px solid var(--col-neutral);
  box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.699);
}
.sidebar h2 {
  font-size: 2.2rem;
  font-weight: 500;
  padding: 1rem 2.3rem;
}
.sb-btn, .no-projects {
  font-size: 1.6rem;
  width: 100%;
  padding: 1rem 0rem 1rem 2.3rem;
  text-align: left;
  font-weight: 400;
}
.sb-btn:hover {
  font-weight: 500;
  background-color: var(--col-prim);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.479);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.479);
}
.sb-freq-btn-div {
  padding: 1.2rem 2.3rem 0rem 2.3rem;
}
.sb-freq-btn {
  padding: 1rem 0rem;
  font-size: 1.7rem;
  font-weight: 600;
  width: 25%;
  border: 1px solid var(--col-neutral);
  border-radius: 5px;
  text-align: center;
}
.content {
  flex-grow: 1;
  height: calc(100vh - 105px);
  padding: 20px;
  width: calc(100% - 370px);
  background-color: var(--col-bcg);
  /* transition: margin-left 0.3s ease; */
}


@media (min-width: 1000px) {
  .navbar {
    grid-template-columns: 350px 2fr 200px;
  }
  .sidebar {
    width: 350px;
  }
}
@media (max-width: 999px) {
  .navbar {
    grid-template-columns: 170px 2fr 170px;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
  }
}

/* _________________________________________________________________________
-好运-0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0☠☠0☢0-----0☢0-好运-
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾ */

.foot {
  position: absolute;
  bottom: 0;
  background-color: var(--col-surface);
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 200px 2fr 200px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-shadow: -2px -2px 2px #000000b0;
  border-top: 1px solid var(--col-neutral);
}